VISCEN_NODE_ENV=prod
VISCEN_PORT=5000
VISCEN_FILES_STORAGE_PATH=files_storage

# Bots
VISCEN_TELEGRAM_BOT_TOKEN=
VISCEN_VK_BOT_TOKEN=

# Mailer
VISCEN_MAILER_HOST=smtp.vstu.ru
VISCEN_MAILER_USER=
VISCEN_MAILER_PASSWORD=
VISCEN_MAILER_DEFAULT_FROM=Визовый центр ВолгГТУ <visa-center@vstu.ru>

# Confirm code
VISCEN_CONFIRM_CODE_LEN=6
VISCEN_CONFIRM_EMAIL_CODE_EXP=15m
VISCEN_CONFIRM_PHONE_CODE_EXP=15m

# Security
VISCEN_PASSWORD_BCRYPT_ROUNDS=10
VISCEN_ACCESS_TOKEN_SECRET=5061d2406d586dd66acbf691b5693ae608bb3bc18427bdd7ca246898051fdafc
VISCEN_ACCESS_TOKEN_EXPIRES=15m
VISCEN_REFRESH_TOKEN_SECRET=9f59ffdaeac506cbf64c7e7ae36756ff3b47b5a4dbafebc2aef14f4e4dd787bb
VISCEN_REFRESH_TOKEN_EXPIRES=1d

# Database
#   Environment variables declared in this file are automatically made available to Prisma.
#   See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
#   Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
#   See the documentation for all the connection string options: https://pris.ly/d/connection-strings
VISCEN_DATABASE_URL=postgresql://dev:dev@localhost:5433/visa_center_dev?schema=public
