// Variables:
//   name
//   message

doctype html
html
  head
    title Уведомление от визового центра ВолгГТУ
  body
    if name
      h1 Здравствуйте, #{name}!
    else
      h1 Здравствуйте!
    p #{message}
