<!DOCTYPE html>
<html>
<head>
    <title>Employee</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Привет Employee!</h2>
    <a asp-controller="Admin" asp-action="Index">Перейти к админу</a>
    <a asp-controller="Student" asp-action="Index">Перейти к студенту</a>
</body>
</html>