<!DOCTYPE html>
<html>
<head>
    <title>Student</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Привет Student!</h2>
    <a asp-controller="Admin" asp-action="Index">Перейти к админу</a>
    <a asp-controller="Employee" asp-action="Index">Перейти к сотруднику</a>
</body>
</html>